@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}
.wrapper {
  width: 100%;
  height: 100dvh;
  background: white;
}
.owerview{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF7235;

}
.img{
  width: 1110px;
  height: 625px;
  margin-top: 87px;
}
.partners{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 109px;
  margin-top: 90px;
}
.real{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  gap: 150px;
}
.online{
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 230px;
}

.online h1{
  font-size: 40px;
}
.online p{
  color: #BDBDBD;
  
}
.more{
  display: flex;
  gap: 4px;
  color:#FF7235;
  text-decoration: none;
}
.more p{
  color:#FF7235;
}
.more i{
  margin-top: 5px;
}
.png{
  width: 539px;
  height: 433.03px;
}